.box{
    color: gray;
    display:  flex;
    flex-direction: column;
}
.container{
    padding: 1%;
    
    max-width: 80%;
    max-height: 100%;
    img{
        height: 50%;
        width: 50%;
    }
}
.cart-box{
 border-radius: 10%; 
/*  height: 100vh;  */ 
}
