<div *ngFor="let product of selectedItems">


   <mat-list class="container">

      <mat-list-item>
         <!--      <img src="{{product.image}}" alt="{{product.alt}}"> -->
         <span>{{product.name}}</span>

         <span>Pecio: {{product.price}}£</span>

         <span>Unidades: {{product.demand}}</span>
         <button (click)="delteItem(product)"> Eliminar Objeto</button>
         <!-- <button (click)="add()">añadir más unidades</button> -->
         <div>
            <span>Precio final: {{product.totalPrice}} £</span>
         </div>
      </mat-list-item>
   </mat-list>

</div>
<button (click)="deleteAll()"> Vaciar Carrito</button>
<button (click)="totalBill()">Precio final</button>
<!-- <div *ngFor="let b of bill">
   <span>Precio final{{b.price}} </span>
</div> -->