<div class ="box">
    <div class="container" *ngFor="let product of products">
        <mat-card class="cards" >
          <mat-card-header >
        
            <mat-card-title >{{product.name| uppercase}}</mat-card-title>
            <mat-card-subtitle >{{product.price}}£</mat-card-subtitle>
          </mat-card-header  >
          <img mat-card-image src='{{product.image}}'
            alt='{{product.alt}}' >
         
          <mat-card-actions >
           <!--  <button mat-raised-button>Añadir</button> -->
           <mat-form-field >
              <input matInput placeholder="Units"  
              name="val"
              type="number" 
              [(ngModel)]= "product.demand" 
              min="0">
            
            </mat-form-field>
            
            <button mat-icon-button  (click)= "
            add(product)">+</button>
            <button mat-icon-button  (click)= "
            remove(product)">-</button>
            <button mat-icon-button  (click)= "
            addToCart(product,product.demand)">Añadir al Carro</button>
          </mat-card-actions>
          
        </mat-card>
      </div>
</div>
